<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.PstDagJobRunRecordDao">

	<resultMap id="PstDagJobRunRecordInfo" type="com.xxl.job.admin.core.model.PstDagJobRunRecordInfo" >
		<result column="id" property="id" />
		<result column="dag_job_id" property="dagJobId" />
	    <result column="run_record" property="runRecord" />
	    <result column="job_id" property="jobId" />
		<result column="run_mod" property="runMod" />
	    <result column="run_status" property="runStatus" />
	    <result column="run_start_time" property="runStartTime" />
	    <result column="run_end_time" property="runEndTime" />
		<result column="dag_task_type" property="dagTaskType" />
		<result column="start_up_job_id" property="startUpJobId" />
		<result column="create_time" property="createTime" />
		<result column="run_data_time" property="runDataTime" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.dag_job_id,
		t.run_record,
		t.job_id,
		t.run_mod,
		t.run_status,
		t.run_start_time,
		t.run_end_time,
		t.dag_task_type,
		t.start_up_job_id,
		t.create_time,
		run_data_time
	</sql>

	<select id="pageList" parameterType="java.util.HashMap" resultMap="PstDagJobRunRecordInfo">
		SELECT <include refid="Base_Column_List" />
		FROM pst_dag_job_run_record AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
            <if test="runStatus != null">
                AND t.run_status = #{runStatus}
            </if>
			<if test="dagJobId != null and dagJobId != ''">
				AND t.dag_job_id = #{dagJobId}
			</if>
			<if test="runRecord != null and runRecord != ''">
				AND t.run_record = #{runRecord}
			</if>
			<if test="jobId != null and jobId != ''">
				AND t.job_id = #{jobId}
			</if>
		</trim>
		ORDER BY id DESC
		LIMIT #{offset}, #{pagesize}
	</select>

	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM pst_dag_job_run_record AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="runStatus != null">
				AND t.run_status = #{runStatus}
			</if>
			<if test="dagJobId != null and dagJobId != ''">
				AND t.dag_job_id = #{dagJobId}
			</if>
			<if test="runRecord != null and runRecord != ''">
				AND t.run_record = #{runRecord}
			</if>
			<if test="jobId != null and jobId != ''">
				AND t.job_id = #{jobId}
			</if>
		</trim>
	</select>

	<insert id="save" parameterType="com.xxl.job.admin.core.model.PstDagJobRunRecordInfo" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO pst_dag_job_run_record (
			dag_job_id,
			run_record,
			job_id,
			run_mod,
			run_status,
			run_start_time,
			run_end_time,
			dag_task_type,
			start_up_job_id,
			create_time,
			run_data_time
		) VALUES (
			#{dagJobId},
			#{runRecord},
			#{jobId},
			#{runMod},
			#{runStatus},
			#{runStartTime},
			#{runEndTime},
			#{dagTaskType},
			#{startUpJobId},
			#{createTime},
		    #{runDataTime}
		);

	</insert>

	<select id="loadByRunRecord" parameterType="java.util.HashMap" resultMap="PstDagJobRunRecordInfo">
		SELECT <include refid="Base_Column_List" />
		FROM pst_dag_job_run_record AS t
		WHERE t.run_record = #{runRecord}
	</select>

	<select id="loadByDataTimeAndDagJobId" parameterType="java.util.HashMap" resultMap="PstDagJobRunRecordInfo">
		SELECT <include refid="Base_Column_List" />
		FROM pst_dag_job_run_record AS t
		WHERE t.run_data_time = #{runDataTime} and dag_job_id = #{dagJobId}
	</select>

	<select id="loadByRunRecordAndJobId" parameterType="java.util.HashMap" resultMap="PstDagJobRunRecordInfo">
		SELECT <include refid="Base_Column_List" />
		FROM pst_dag_job_run_record AS t
		WHERE t.run_record = #{runRecord} and t.job_id = #{jobId}
	</select>

	<select id="loadByRunRecordAndDagTaskType" parameterType="java.util.HashMap" resultMap="PstDagJobRunRecordInfo">
		SELECT <include refid="Base_Column_List" />
		FROM pst_dag_job_run_record AS t
		WHERE t.run_record = #{runRecord} and t.dag_task_type = #{dagTaskType}
	</select>

	<select id="loadById" parameterType="java.util.HashMap" resultMap="PstDagJobRunRecordInfo">
		SELECT <include refid="Base_Column_List" />
		FROM pst_dag_job_run_record AS t
		WHERE t.id = #{id}
	</select>

	<select id="loadRunDataTimeByDagJobId" parameterType="java.util.HashMap" resultMap="PstDagJobRunRecordInfo">
		select t.run_data_time from pst_dag_job_run_record t
		where t.dag_job_id = #{dagJobId}
		group by t.run_data_time
		order by t.run_data_time desc
		limit #{size}
	</select>

	<update id="update" parameterType="com.xxl.job.admin.core.model.PstDagJobRunRecordInfo" >
		UPDATE pst_dag_job_run_record
		SET
			run_mod = #{runMod},
			run_status = #{runStatus},
			run_start_time = #{runStartTime},
			run_end_time = #{runEndTime},
			start_up_job_id = #{startUpJobId},
			run_data_time = #{runDataTime}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="java.util.HashMap">
		DELETE
		FROM pst_dag_job_run_record
		WHERE id = #{id}
	</delete>


</mapper>