<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.PstDagJobInfoDao">

	<resultMap id="PstDagJobInfo" type="com.xxl.job.admin.core.model.PstDagJobInfo" >
		<result column="id" property="id" />
		<result column="job_name" property="jobName" />
	    <result column="job_desc" property="jobDesc" />
	    <result column="job_run_exp" property="jobRunExp" />
	    <result column="status" property="status" />
	    <result column="create_by" property="createBy" />
	    <result column="create_time" property="createTime" />
		<result column="dag_info" property="dagInfo" />
		<result column="last_run_status" property="lastRunStatus" />
		<result column="last_run_record" property="lastRunRecord" />
		<result column="last_run_msg" property="lastRunMsg" />
		<result column="last_run_time" property="lastRunTime" />
		<result column="trigger_last_time" property="triggerLastTime" />
		<result column="trigger_next_time" property="triggerNextTime" />
		<result column="curr_run_record" property="currRunRecord" />
		<result column="executor_block_strategy" property="executorBlockStrategy" />


	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.job_name,
		t.job_desc,
		t.job_run_exp,
		t.status,
		t.create_by,
		t.create_time,
		t.dag_info,
		t.last_run_status,
		t.last_run_record,
		t.last_run_msg,
		T.last_run_time,
		t.trigger_last_time,
		t.trigger_next_time,
		t.curr_run_record,
		t.executor_block_strategy
	</sql>

	<select id="pageList" parameterType="java.util.HashMap" resultMap="PstDagJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM pst_dag_job AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
            <if test="status gte 0">
                AND t.status = #{status}
            </if>
			<if test="jobDesc != null and jobDesc != ''">
				AND t.job_desc like CONCAT(CONCAT('%', #{jobDesc}), '%')
			</if>
			<if test="jobName != null and jobName != ''">
				AND t.job_name like CONCAT(CONCAT('%', #{jobName}), '%')
			</if>
		</trim>
		ORDER BY id DESC
		LIMIT #{offset}, #{pagesize}
	</select>

	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM pst_dag_job AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="status gte 0">
				AND t.status = #{status}
			</if>
			<if test="jobDesc != null and jobDesc != ''">
				AND t.job_desc like CONCAT(CONCAT('%', #{jobDesc}), '%')
			</if>
			<if test="jobName != null and jobName != ''">
				AND t.job_name like CONCAT(CONCAT('%', #{jobName}), '%')
			</if>
		</trim>
	</select>

	<insert id="save" parameterType="com.xxl.job.admin.core.model.PstDagJobInfo" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO pst_dag_job (
			job_name,
			job_desc,
			job_run_exp,
			status,
			create_by,
			create_time,
			dag_info,
			trigger_last_time,
			trigger_next_time,
			curr_run_record,
			executor_block_strategy
		) VALUES (
			#{jobName},
			#{jobDesc},
			#{jobRunExp},
			#{status},
			#{createBy},
			#{createTime},
			#{dagInfo},
			#{triggerLastTime},
			#{triggerNextTime},
		    #{currRunRecord},
			#{executorBlockStrategy}
		);

	</insert>

	<select id="loadById" parameterType="java.util.HashMap" resultMap="PstDagJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM pst_dag_job AS t
		WHERE t.id = #{id}
	</select>

	<update id="update" parameterType="com.xxl.job.admin.core.model.PstDagJobInfo" >
		UPDATE pst_dag_job
		SET
			job_name = #{jobName},
			job_desc = #{jobDesc},
			job_run_exp = #{jobRunExp},
			status = #{status},
			trigger_last_time = #{triggerLastTime},
			trigger_next_time = #{triggerNextTime},
			curr_run_record = #{currRunRecord},
			last_run_status = #{lastRunStatus},
			last_run_record = #{lastRunRecord},
			last_run_time = #{lastRunTime},
			executor_block_strategy = #{executorBlockStrategy}
		WHERE id = #{id}
	</update>

	<update id="updateDagInfo" parameterType="com.xxl.job.admin.core.model.PstDagJobInfo" >
		UPDATE pst_dag_job
		SET
			dag_info = #{dagInfo}
		WHERE id = #{id}
	</update>

	<update id="updateRunStatusInfo" parameterType="com.xxl.job.admin.core.model.PstDagJobInfo" >
		UPDATE pst_dag_job
		SET
			last_run_status = #{lastRunStatus},
			last_run_record = #{lastRunRecord},
			last_run_msg = #{lastRunMsg},
			last_run_time = #{lastRunTime},
			curr_run_record = #{currRunRecord}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="java.util.HashMap">
		DELETE
		FROM pst_dag_job
		WHERE id = #{id}
	</delete>

	<select id="scheduleJobQuery" parameterType="java.util.HashMap" resultMap="PstDagJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM pst_dag_job AS t
		WHERE t.status = 1
		and t.trigger_next_time <![CDATA[ <= ]]> #{maxNextTime}
		ORDER BY id ASC
		LIMIT #{pagesize}
	</select>

	<update id="scheduleUpdate" parameterType="com.xxl.job.admin.core.model.PstDagJobInfo"  >
		UPDATE pst_dag_job
		SET
			trigger_last_time = #{triggerLastTime},
			trigger_next_time = #{triggerNextTime},
			status = #{status}
		WHERE id = #{id}
	</update>


</mapper>